<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('messages.editing', model: @question.model_name.human(count: 2)) %><span class="fa fa-question-circle fa-fw"></span></h1>
  </div>
</div>

<div class="row">
<div class="col-lg-12">
  <% if @question.errors.any? %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
      </button>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
      </div>
  <% end %>
  <div class="col-lg-12">    
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <%= form_with(model: [:admins_backoffice, @question ], local: true) do |form| %>
            <div class="form-group">
              <%= form.label :description %>
              <%= form.text_area :description, class:"form-control", placeholder:t('messages.new_question'), rows:5 %>              
            </div>
            <div class="form-group">
              <%= form.label :subject_id %>
              <%= form.collection_select(:subject_id, @subjects, :id, :description, {}, { class:"form-control" })%>
              <small class="form-text text-muted"><%= t('messages.question_subject_desc') %></small>
            </div>  

            <h3>Respostas</h3>
            <div id="anwers" class="form-group">
              <%= form.fields_for :answers do |answer| %>
                <%= render partial: "answer_fields", locals: { f: answer } %>                  
              <% end %>
              <%= link_to_add_association '[Adicionar Resposta]', form, :answers, class:"btn btn-primary" %>              
            </div>


                         
            <button type="submit" class="btn btn-primary"><%= t('messages.button_save') %></button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
