<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"><%= t('messages.listing', model: @subjects.model_name.human(count: 2)) %> <span class="fa fa-flask fa-fw"></h1>
  </div>
</div>
<div class="table-responsive-md">
  <table class="table table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th><%= translate_attribute(@subjects, :id) %></th>
        <th><%= translate_attribute(@subjects, :description) %></th>
        <th>          
          <%= link_to new_admins_backoffice_subject_path, class: "btn btn-success btn-circle" do %>
            <i class="fa fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td class="pt-2"><%= subject.id %></td>
          <td class="pt-2"><%= subject.description %></td>
          <td>
            <%= link_to edit_admins_backoffice_subject_path(subject), class:"btn btn-primary btn-circle btn-sm m-1" do %>
              <i class="fa fa-edit"></i>
            <% end %>

            <%= link_to admins_backoffice_subject_path(subject), 
                method: :delete, 
                class:"btn btn-danger btn-circle btn-sm",
                data: { confirm: t('messages.confirm_with', item: subject.description.truncate(15) )} do %>
              <i class="fa fa-trash"></i>
            <% end %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="text-center">
      <%= paginate @subjects %>
    </div>
  </div>
</div>
