<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Custom fonts for this template-->
    <%= stylesheet_link_tag    'application' %>
    <%= stylesheet_link_tag    'admins_devise' %>
  </head>

  <body class="bg-gradient-primary">

    <div class="container">
      <%= yield %>
      <!-- Outer Row -->
    </div>
    <!-- JavaScript -->
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admins_backoffice' %>

  </body>
