</html>
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login User</title>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'users_devise' %>
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
             <%= yield %>
          </section>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'users_backoffice' %>
  </body>
</html>